
@font-face {
font-family: playDisplay;
src: url(../font/PlayfairDisplay-Regular.ttf);
}
@font-face {
font-family: MontereyFLF;
src: url(../font/MontereyFLF.ttf);
}
    
body {
    font-family: MontereyFLF;
  }
h1,h2,h3,h4,h5,h6{
    font-family: playDisplay;
}
html,body{
    background-color:#f4f4ff;
    color:#000;
    width:100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: top;
    padding: 0;
}
.container{
    max-width:1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.row{
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0  !important;
}
.color-text1       {color: #183c7d ;}
.color-text3       {color: #fcc101 !important;}
.color-text4       {color: #ee3d3a !important;}
.color-text6       {color:  #17a2b8 !important;}

.color-bg1         {background: #183c7d !important;}
.color-bg3         {background: #fcc101 !important;}
.color-bg4         {background: #ee3d3a !important;}
.color-bg6         {background:  #17a2b8 !important;}

hr{
    opacity: 100%;
}
.hr{
    height: 4px;
    border: none;
    width: 100%;
}
ul{
    list-style: none;
}


.photo{
    width: 260px;
    height: 260px;
    margin:-134px auto;
    margin-bottom:25px;
    display: block;
    z-index: 1000;
    position: relative;
    border: solid 10px #f4f4ff;
}
.presentation-ul-left{
    padding-left: 85px;
    padding-right: 55px;
    margin-top: -65px;
    text-align: right;
}

.presentation-ul-right{
    padding-right: 85px;
    padding-left: 55px;
    margin-top: -65px;
}
.presentation-font1{
    height: 501px;
    margin-top:100px;
    width: 100%;
}
.presentation-font2{    
    position: absolute;
    width  : 55%;
    right : 0;
    border-left   : 162px solid transparent;
    border-bottom : 501px solid #17a2b8 ;
}
.presentation-conteneur-text{
    width: 700px;
    margin: 57px auto;
    z-index: 1000;
}
.presentation-conteneur-text p {
    font-size: 22px;
}
.text-presentation {
    font-size: 25px;
}

.list-group.presentation {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    text-align: left;
}


.card-container{
    max-width: 1272px;
    width: 100%;
}

.lvl{
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.in-lvl{
    height: 20px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.circle-experience{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 33px;
   
}


.circle-experience span{
    position: absolute;
    left: 27px;
    top: 15px;
    font-size: 20px;
}
.card-experience{
    max-width: 18rem;
    float: right;
    background: #d4d4d4;
}

.parcour-container1{
    height: 718px;
    margin-top:100px;
    width: 100%;
}
.parcour-container2{
position: absolute;
        width  : 55%;
        right : 0;
        border-left   : 162px solid transparent;
        border-top : 718px solid #fcc101 ;
        top: 0;
}

.parcour-text-container{
    height: 443px;
     width:100%;
     margin-top:40px;
}
.border-dashed{
    border-left: #fff dashed 4px;
    border-right: #fff dashed 4px;
}
.text-footer{
    font-size:16px;
}
.conteneur-btn-footer{
    width: auto;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    border: 8px #f4f4ff solid;
    left: 43%;
    right: 43%;
    top: 50px;
}
.border-footer-left{
    border-right:solid 5px #f4f4ff;
}
.border-footer-right{
    border-left:solid 5px #f4f4ff;
}
.conteneur-btn-footer{
    width: 216px;
    position: absolute;
    z-index: 1;
    border-radius: 200px;
    border: 8px #f4f4ff solid;
   right: 50%;
     left: 50%;
    top: 72px;
    transform: translate(-50%, -50%);
}
.btn-footer{
    width: 100%;
    border: solid 3px #ee3d3a;
    border-radius: 20px;
    display: inline-block;
    background: #fcc101;
    text-align: center;
    color: #f4f4ff;
}

   @media only screen and (max-width: 1748px) {
    h3{
        font-size: 1.50rem;
    }
  }

  @media only screen and (max-width: 1488px) {

   .row-responsive{
    display: block;
    margin: 0 auto;
    }
    .block-service, .block-valeur{
    margin: 0 auto;
    max-width: 88% !important;
    }
    .title-contente{
        padding-top: 15px;
        padding-bottom: 30px;
    }
    #service-right{
    background-image: none !important;
    margin-top: 50px;
    margin-bottom: 70px;
    }
    #valeur-left{
    display: none;
    }
    #valeur-left2{         
    display: block;
    margin-bottom: 131px;
    }

    .valeur-h3 {

    padding-left: 0px ;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 56px;
    width: 250px;    
    }
    .hr-h3{
        bottom: -11px;
        left: 52px;
        width: 145px;
        height: 0px;
    }
    .block-valeur{        
    width: 80%;        
    margin: 0 auto;
    }
    .text-valeur{
    text-align: center;
    width: 74%;
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 25px;
    padding-bottom: 25px;
    }
  }

  .parallelogramme{
	width:300px;
	height:100px;
	background:#069;
	-webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
	tranform:skew(30deg);
}


.ul-footer-left{
    width: 56%;margin-right: 87px;margin-top: 32px; float:right;text-align: right;
}
.ul-footer-right{
    width: 56%;margin-left: 73px;margin-top: 32px;
}



  @media only screen and (max-width: 1324px) {
   
.parcour-container1{
    height: 876px;
}
.parcour-container2{
        border-top : 876px solid #fcc101 ;
}
  }


  @media only screen and (max-width: 990px) {
   
    .parcour-container1{
        height: 1080px;
    }
    .parcour-container2{
            border-top : 1080px solid #fcc101 ;
    }

    .border-dashed {
        border-left:none;
        border-right:none;
        border-top: #fff dashed 4px;
        border-bottom: #fff dashed 4px;
        margin-top: 30px;
        padding: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    
.presentation-ul-left{
    padding-left: 55px;
    margin-top: -65px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.presentation-ul-right{
    margin-top:0px ;
}
.age{
    padding-left: 55px;
    text-align: left !important;
    padding-top: 30px;
    padding-bottom: 30px;
}
.age br{
    display:none
}
.border-footer-left{
    border-right:none;
    border-bottom:solid 5px #f4f4ff;
}
.border-footer-right{
    border-left:none;
    border-top:solid 5px #f4f4ff;
}

.ul-footer-left{
    width: 400px;
    margin: 28px auto;
    text-align: left;
    float: none;
}
.ul-footer-right{
    width: 400px;
    margin: 43px auto;
}
.ul-footer-right li {
  margin-left: 0px !important;
}

.conteneur-btn-footer{
    top:192px;
    
}

      }

@media only screen and (max-width: 699px){
    h1{
        font-size: 2rem;  
    }
     
.parcour-container1{
    height: 1236px;
}
.parcour-container2{
        border-top : 1236px solid #fcc101 ;
}
.presentation-font1{
    height:610px;
}

.presentation-font2{
    border-bottom: 610px solid #17a2b8;
}
}

@media only screen and (max-width: 458px){
    h1{
        font-size: 1.6rem;  
    }
        
    .parcour-container1{
    height: 1436px;
    }
    .parcour-container2{
        border-top : 1436px solid #fcc101 ;
    }
    .presentation-font1{
    height:790px;
    }

    .presentation-font2{
    border-bottom: 790px solid #17a2b8;
    }
    .presentation-ul-left{
        margin-top: -46px;
    }
}

  
  