        <h3 class="h1 py-5 text-center">Compétence</h3>
             <div class="row">
            <div class="col-sml-12 col-md-6 col-lg-3">
            <div class="card text-white color-bg6 mb-3">
                <div class="card-header h3">Software</div>
                <div class="card-body">
                    <ul>
                        <li>Photoshop</li>
                        <li class="lvl">
                            <div class="in-lvl"style="width:60%"></div>
                        <li>
                        <li>Illustrator</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:45%"></div>
                        <li>
                        <li>Git</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:65%"></div>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sml-12 col-md-6 col-lg-3">
            <div class="card text-white color-bg3  mb-3" >
                <div class="card-header h3">Back-End</div>
                <div class="card-body">
                <ul>
                    <li>Ruby on Rails</li>
                        <li class="lvl">
                            <div class="in-lvl"style="width:70%"></div>
                        <li>
                        <li>PHP</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:60%"></div>
                        <li>
                        <li>Wordpress</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:50%"></div>
                        <li>
                    </ul>
                </div>
                </div>
        </div>
        <div class="col-sml-12 col-md-6 col-lg-3">
            <div class="card text-white color-bg6 mb-3" >
                <div class="card-header h3">Front-End</div>
                <div class="card-body">
                  <ul>                        
                        <li>HTML/CSS/SASS</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:70%"></div>
                        <li>
                        <li>Bootstrap4 / Sementic ui</li>
                        <li class="lvl">
                            <div class="in-lvl"style="width:60%"></div>
                        <li>
                        <li>Jquery</li>
                         <li class="lvl">
                            <div class="in-lvl"style="width:50%"></div>
                        <li>
                    </ul>
                </div>
                </div>
        </div>
        <div class="col-sml-12 col-md-6 col-lg-3">
                <div class="card text-white color-bg3 mb-3">
                    <div class="card-header h3">Déjà utiliser</div>
                    <div class="card-body">
                        <p style="padding-bottom: 91px;">
                            MYSQL, linux, Syfony, React, Cordova, Node.js, VueJS 2, R
                        </p> 
                    </div>
                    </div>
       </div>
        </div>
 
