<div class="position-relative">
  
    <div class="row mt-5">  
        <div class="conteneur-btn-footer">
            <a href="mailto:debailleul.louis@gmail.com" class="btn-footer" >
                Contactez-moi 
            </a>               
        </div>
        <div class='col-md-12 col-lg-6 color-bg6 pb-4 border-footer-left'>
            <ul class="list-group list-group-flush ul-footer-left">
                <li class="text-footer mr-4 text-white"><i class="fas fa-mobile-alt mr-2 color-text3"></i> 07 86 25 83 68 </li>
                <hr class='color-bg3 hr'>
                <li class="text-footer mr-4 text-white"><i class="fas fa-map-pin mr-2 color-text3"></i>12 rue du Chateau 91300 Massy<br> Permis B - Véhiculé</li>
            </ul>
        </div>         
        <div class='col-md-12 col-lg-6 color-bg3 pb-4 border-footer-right'>
            <ul class="list-group list-group-flush pb-4 ul-footer-right" >
                <li class="text-footer ml-5 text-white"><i class="fab fa-accessible-icon mr-2 color-text6"></i>Travailleur Handicaper</li>
                <hr class="color-bg6 hr">
                <li class="text-footer ml-5 text-white "><i class="fas fa-at mr-2 color-text6"></i>debailleul.louis@gmail.com</li>
            </ul>          
        </div>
         
       </div>    
</div>