<div class="row color-bg6 parcour-container1"style="display: block;position: relative;">
    <h3 class="h1 py-5  text-center text-white " style="z-index:2;position: relative;">Présentation</h3>
    <div class="parcour-container2"></div>    
    <div class="row parcour-text-container">      
        <div class="col-lg-4"> 
            <div class="text-white text-center white mb-3"> 
                <h4 class="">Entreprise Blset</h4>                 
                <h5 class="">Développeur web</h5>
                <div class="text-left px-5">
                <p class="">
                Pendant mon alternance mes missions sont:
                </p>
                <ul style="padding-left: 0;">
                    <li class="mb-3">
                    Passage d’un site web sous le CMS PrestaShop en WordPress plus refonte du style avec Semantic ui
                    </li>
                    <li class="mb-3">
                    Création du site Bloowing avec Ruby on rails, jQuery, Sass et Semantic ui. 
                    </li>
                    <li class="mb-3">
                    Création d’un mailer/backend en Ruby on rails plus un nettoyage de leur base de données. 
                    </li>
                    <li class="mb-3">
                    SAV sur plusieurs sites web et/ou ajout d'option 
                    </li>
                    <li class="mb-3">
                    Création d’une application R qui génère un PowerPoint à l’aide d’une base de données rempli par un site web en enb.js. Les entreprises remplissent un questionnaire pour leur OMG.
                    </li>
                </ul>                
            </div>
        </div>
    </div>
     <div class="col-lg-4 border-dashed">
           <div class="text-white text-center white mb-3"> 
                <h4 class="">Entreprise Studio Data</h4>                 
                    <h5 class="">Développeur web</h5>
                    <div class=" text-left px-5">
                    <p class="">
                        Mes missions pendant mes dix semaines
                    </p>
                    <ul>
                        <li class="mb-3">
                            Refonte de leur site vitrine sur un MVC maison en PHP.
                        </li>
                        <li class="mb-3">
                            Développement d’une application mobile à l’aide des Frameworks Cordova, JQuery et AngularJS.
                        </li>
                    </ul>
            </div>
        </div>
        </div>
     <div class="col-lg-4"> 
           <div class="text-white text-center white mb-3"> 
                <h4 class="">Aide comptable</h4> 
                <div class=" text-left px-5">
                    <p class="card-text">
                        Trois stages de comptabilité en tant qu’aide comptable :   
                    </p>
                    <ul>
                        <li class="mb-3">
                            Refonte de leur site vitrine sur un MVC maison en PHP.
                        </li>
                        <li class="mb-3">
                            Cinq semaines dans l’entreprise VEOLIA.
                        </li>
                    </ul>
                </div>
        </div>
     </div>
</div>
        
</div>