<div class="row color-bg6 parcour-container1"style="display: block;position: relative;">
    <h3 class="h1 py-5  text-center text-white " style="z-index:2;position: relative;">Expériences Professionnel</h3>
    <div class="parcour-container2"></div>    
    <div class="row parcour-text-container">      
        <div class="col-lg-4"> 
            <div class="text-white text-center white mb-3"> 
                <h4 class="">Auto Entrepreneur (2019-2021)</h4>                 
                <h5 class="pb-4">Développeur web / Graphique</h5>
                <div class="text-left px-5">
                <ul style="padding-left: 66px;">
                    <li class="mb-3">
                   - Réalisation de devis et facture.
                    </li>
                    <li class="mb-3">
                   - Creation de logo avec Illustrator. 
                    </li>
                    <li class="mb-3">
                   - Création de module en php, css et html. 
                    </li>
                    <li class="mb-3">
                   - SAV et jestion de bug intranet de crome-sas.
                    </li>                    
                </ul>                
            </div>
        </div>
    </div>
     <div class="col-lg-4 border-dashed">
        <div class="text-white text-center white mb-3"> 
            <h4 class="">Entreprise Blset (2017-2019)</h4>                 
            <h5 class="pb-4">Développeur web</h5>
            <div class="text-left px-5">
            <p>
                <ins>
                Pendant mon alternance mes missions sont:
                </ins>
            </p>
            <ul style="padding-left: 0;">
                <li class="mb-3">
               - Passage d’un site web sous le CMS PrestaShop en WordPress plus refonte du style avec Semantic ui
                </li>
                <li class="mb-3">
               - Création du site Bloowing avec Ruby on rails, jQuery, Sass et Semantic ui. 
                </li>
                <li class="mb-3">
               - Création d’un mailer/backend en Ruby on rails plus un nettoyage de leur base de données. 
                </li>
                <li class="mb-3">
               - SAV sur plusieurs sites web et/ou ajout d'option 
                </li>
                <li class="mb-3">
                - Création d’une application R qui génère un PowerPoint à l’aide d’une base de données rempli par un site web en enb.js. Les entreprises remplissent un questionnaire pour leur OMG.
                </li>
            </ul>                
        </div>
    </div>
        </div>
     <div class="col-lg-4"> 
        <div class="text-white text-center white  mb-4"> 
            <h4 class="">Entreprise Studio Data (10semaines)</h4>                 
                <h5 class="pb-4">Développeur web</h5>
                <div class=" text-left px-5">
                <p>
                    <ins>
                         Mes missions pendant mes dix semaines:
                    </ins>
                </p>
                <ul>
                    <li class="mb-3">
                       - Refonte de leur site vitrine sur un MVC maison en PHP.
                    </li>
                    <li class="mb-3">
                       - Développement d’une application mobile à l’aide des Frameworks Cordova, JQuery et AngularJS.
                    </li>
                </ul>
        </div>
    </div>
    <hr style="border: #fefefe 1px dashed;width: 520px;">
           <div class="text-white text-center white my-4 "> 
                <h4 class="pb-4">Aide comptable (15semaine)</h4> 
                <div class=" text-left px-5">
                    <p class="card-text">
                        <ins>
                        Trois stages de comptabilité en tant qu’aide comptable: 
                        </ins>  
                    </p>
                    <ul>
                        <li class="mb-3">
                           - Deux fois 5 semaines dans l'entreprise GCC.
                        </li>
                        <li class="mb-3">
                           - Cinq semaines dans l’entreprise VEOLIA.
                        </li>
                    </ul>
                </div>
        </div>
        
     </div>
</div>
        
</div>