<div class="row">
   <div class="col-md-12 col-lg-6">
    <div class="px-5 mx-5">
    <h3 class="h1 py-5 text-center">Diplomes</h3>
    <div class="table-responsive">
              <table class="table" style="font-size: 20px;">
          <thead class="color-bg3 text-white text-center" style="border-bottom:solid 3px #ee3d3a;border-left: solid 2px #ee3d3a;border-right: solid 2px #ee3d3a;">
            <th scope="col">2017 – 2019</th>
            <th scope="col">2015 – 2017</th>
            <th scope="col">2012 – 2015</th>
            </thead>
            <tr>
            <td>BAC+3/BAC+4 développements web</td>
            <td style="border-left: #ee3d3a solid 2px;border-right: #ee3d3a solid 2px;">BTS Services Informatiques aux Organisationsornton</td>
            <td>BAC de comptabilité et gestion</td>
            </tr>
        </table>
        </div>
    </div>
  </div>
   <div class="col-md-12 col-lg-6">
    
      <h3 class="h1 py-5 text-center">Passe temps</h3>
      <div class="mx-auto text-center">
      <ul  class="px-5 mx-5 float-left">
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-flask" style="font-size:28px;"></i><br>
        Les Sciences
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-network-wired"style="font-size:28px;"></i><br>
        Le Web
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-palette"style="font-size:28px;"></i><br>
        Le dessin
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-gamepad"style="font-size:28px;"></i><br>
        les jeux video
      </li> 
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-photo-video"style="font-size:28px;"></i><br>
        les films & séries
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fas fa-music"style="font-size:28px;"></i><br>
      la musique
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 18px;">
        <i class=" fab fa-canadian-maple-leaf"style="font-size:28px;"></i><br>
      la nature
      </li>
    </ul>
    </div>
  </div>
</div>
