<div class="row">
   <div class="col-md-12 col-lg-6">
    <div class="px-5 mx-5">
    <h3 class="h1 py-5 text-center">Diplomes</h3>
    <div class="diplome">
      <table class="table" style="font-size: 20px;">
        <tr>
          <th  class="color-bg3 text-white text-center" scope="col">
          2017 – 2019            
          </th>        
        </tr>
        <tr>
          <td class="py-0">
          BAC+3/BAC+4 développements web
          <p class="font-italic color-text6 my-0">ipssi 75012 - Paris</p>
          </td>
        </tr>
        <tr>
          <th  class="color-bg3 text-white text-center" scope="col">
          2015 – 2017
          </th>
        </tr>
        <tr>
          <td class="py-0">BTS Services Informatiques aux Organisationsornton
          <p class="font-italic color-text6 my-0 ">Iris 75017 - Paris</p>
          </td>
        </tr>
        <tr>
          <th  class="color-bg3 text-white text-center" scope="col" style="border:solid #f4f4ff 3px">
          2012 – 2015
          </th>
        </tr>
        <tr>
          <td class="py-0">BAC de comptabilité et gestion
          <p class="font-italic color-text6 my-0">Lycée condorcet 78520 - Limay</p>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </div>
   <div class="col-md-12 col-lg-6">
    
      <h3 class="h1 py-5 text-center">Loisirs</h3>
      <div class="mx-auto text-center">
      <ul  class="px-5 pt-5 mx-auto" style="max-width: 605px; width: 100%;">
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-flask" style="font-size:32px;"></i><br>
        Sciences
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-network-wired"style="font-size:32px;"></i><br>
        Web
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-palette"style="font-size:32px;"></i><br>
        Dessins
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-gamepad"style="font-size:32px;"></i><br>
        Jeux vidéo
      </li> 
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-photo-video"style="font-size:32px;"></i><br>
        Films & séries
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fas fa-music"style="font-size:32px;"></i><br>
         Musique
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class=" fab fa-canadian-maple-leaf"style="font-size:32px;"></i><br>
        Nature
      </li>
      <li class="text-center mx-3 mb-3 d-inline-block color-text6" style="font-style: italic;font-size: 22px;">
        <i class="fas fa-blender" style="font-size:32px;"></i><br>
        Cuisine
      </li>
    </ul>
    </div>
  </div>
</div>
