<div class="position-relative">
    <div class="row" style='height:300px;'>  
        <div class='col-6 color-bg6 ' style="border-right:solid 5px #f4f4ff;">
           <h1 class="text-right color-text3" style="margin-top: 50px;">Louis Debailleul</h1>
        </div> 
        
        <div class='col-6 color-bg3' style="border-left:solid 5px #f4f4ff;">
            <h1 class="text-left color-text6" style="margin-top: 100px;float: left;">Développeur Web</h1>
        </div>
         
       </div>    
<!-- PHOTO -->
      
    <div class="container">
        <img  class="rounded-circle photo" src='asset/img/photoProfile.png' alt="Photo profil"/>
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <p class="text-presentation age-mobile" >27 ans</p>
            <ul class="list-group list-group-flush presentation-ul-left">
                <li class="text-presentation"><i class="color-text6 fas fa-mobile-alt mr-2"></i> 07 86 25 83 68 </li>
                <hr class='color-bg3 hr'>
                <li class="text-presentation"><i class="color-text6 fas fa-map-pin mr-2"></i>12 rue du Chateau 91300 Massy<br> Permis B - Véhiculé</li>
            </ul>
        </div>
        <div class='col-md-12 col-lg-2'>
            <p class="text-presentation age" >27 <br>ans</p>
        </div>
        <div class="col-md-12 col-lg-5">
            <ul class="list-group list-group-flush presentation-ul-right">
                <li class="text-presentation"><i class="color-text6 fab fa-accessible-icon mr-2"></i>Travailleur RQTH <span class="font-italic">(bras gauche)</span> <a class="color-text6" target="_blank" href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F15204#:~:text=Tout%20employeur%20qui%20a%20%C3%A9t%C3%A9,cumulable%20avec%20les%20autres%20aides.">Aides financières</a> </li>
                <hr class="color-bg6 hr">
                <li class="text-presentation"><i class="color-text6 fas fa-at mr-2"></i>debailleul.louis@gmail.com  <a href="mailto:debailleul.louis@gmail.com" class="btn-header" >
                    Contactez-moi 
                </a></li>
            </ul>
        </div>
    </div>
    </div>
</div>   
<div class="row color-bg3 presentation-font1">
    <div class="presentation-font2"> </div>
    <div class="text-center presentation-conteneur-text text-white">
        <h3 class="h1 py-3 text-center">Présentation</h3>
                <p>
                    J'ai commencé mes études par en bac de gestion et de comptabilité.
                    J'ai eu mes premières expériences professionnelles dans de grandes entreprises
                    ce qui m’a appris une partie de leur fonctionnement.
                </p>
                <p>
                    Par la suite, je me suis intéressé au graphisme mais malheureusement il y avait 
                    peu de débouché dans ce domaine. Mon oncle m’a fait découvrir le métier de développeur
                     web ce qui m’a beaucoup plus et j'ai donc commencé des études dans l'informatique.
                </p>
                <p>
                    J'ai travaillé pendant quelques années dans de petites entreprises où j'ai appris plusieurs langages tant en front-end qu'en back-end.
                     Maintenant que j'ai vu la majorité des langages web, ayant un esprit créatif et logique,
                     j'ai décidé de me spécialiser en front-end en reprenant des études. 
                </p>
    </div>    
</div>