<div class="position-relative">
    <div class="row" style='height:300px;'>  
        <div class='col-6 color-bg6 ' style="border-right:solid 5px #f4f4ff;">
           <h1 class="text-right color-text3" style="margin-top: 50px;">Louis Debailleul</h1>
        </div> 
        
        <div class='col-6 color-bg3' style="border-left:solid 5px #f4f4ff;">
            <h1 class="text-left color-text6" style="margin-top: 100px;float: left;">Développeur Web</h1>
        </div>
         
       </div>    
<!-- PHOTO -->
      
    <div class="container">
        <img  class="rounded-circle photo" src='asset/img/photoProfile.png'/>
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <ul class="list-group list-group-flush presentation-ul-left">
                <li class="text-presentation"><i class="color-text6 fas fa-mobile-alt mr-2"></i> 07 86 25 83 68 </li>
                <hr class='color-bg3 hr'>
                <li class="text-presentation"><i class="color-text6 fas fa-map-pin mr-2"></i>12 rue du Chateau 91300 Massy<br> Permis B - Véhiculé</li>
            </ul>
        </div>
        <div class='col-md-12 col-lg-2'>
            <p class="text-presentation age" >27 <br>ans</p>
        </div>
        <div class="col-md-12 col-lg-5">
            <ul class="list-group list-group-flush presentation-ul-right">
                <li class="text-presentation"><i class="color-text6 fab fa-accessible-icon mr-2"></i>Travailleur Handicaper</li>
                <hr class="color-bg6 hr">
                <li class="text-presentation"><i class="color-text6 fas fa-at mr-2"></i>debailleul.louis@gmail.com  <a href="mailto:debailleul.louis@gmail.com" style="border: solid 3px #ee3d3a;border-radius: 20px;display: inline-block;background: #fcc101;text-align: center;color: #fff;padding-left: 8px;padding-right: 8px;font-size: 20px;line-height: 34px;margin-left: 15px;padding-bottom: 5px;" >
                    Contactez-moi 
                </a></li>
            </ul>
        </div>
    </div>
    </div>
</div>   
<div class="row color-bg3 presentation-font1">
    <div class="presentation-font2"> </div>
    <div class="text-center presentation-conteneur-text">
        <h3 class="h1 py-3 text-center text-white">Présentation</h3>
                <p class="text-white">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles
                </p>
    </div>    
</div>