<div class="row">
<div class="col-4">
    <div class="text-center">
     
    </div>   
</div>
<div class="col-8">
    <h1>Louis <b>Debailleul</b></h1>
        <ul>
        <li><b>Mobile</b> <br> 07 86 25 83 68</li>
        <li><b>Email</b> <br> debailleul.louis@gmail.com</li>
        <li><b>Adresse</b> <br> 12 rue du chateau Massy 91300</li>
        </ul>
        <hr>
        <h3>À propos de moi</h3>
        <p>
            j'ai commencer mon parcour scolère, par un accident de la route. je me suis donc enrianter
            vers un bac professioner de comptabilité plus facile qu'un bac géneral mais intéresent pour 
            comprendre les rouage  d'une entreprise. 
            ne voulent pas devenir comptable car je prefairer faire un métier creative parce que je savais dessiner
            mais les emplois dans se dommaine etais boucher. j'ai voulu me faire un portefolio pour presenter mes dessins,
            ce qui ma fais decouvrire le developpement de site web.
            j'ai donc commensais mes étude de developpeur web. j'ai commencé par un bts
            pour apprendre les base puis par une alternance ou j'ai d'ecouvaire.
        </p>
</div>    
</div>
